
Chernobyl Chickens/obj/
Chernobyl Chickens/Temp/
Chernobyl Chickens/Library/
Chernobyl Chickens/.vs/
Chernobyl Chickens/Prototype Build/
Chernobyl Chickens/Build/Chernobyl Chickens_Data
Chernobyl Chickens/Build/MonoBleedingEdge